*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: rgb(238, 243, 248);
}


.dham{
    font-size: larger;
    text-align: center;
    padding-top: 20px;
    color: black;
    text-decoration: underline;
    
}

.DhamImages{
    height: 450px;
    /* display: grid; */
    display: flex;
    /* grid-template-columns: repeat(1,auto); */
    /* grid-template-rows: repeat(1,auto); */
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: solid red; */
}

.DhamImages img{
    height: 300px;
    width: 300px;
    cursor: pointer;
}

.DhamImages div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: solid red; */
}
.DhamImages div span:last-child{
    font-size: larger;
    font-weight: 500;
}



/* display.html css file */


.displayCont{
    /* border: solid red ; */
    display: flex;

}

.displayCont .content{
    width: 60%;
    margin-left: 10px;
}

.displayCont .image{
    width: 40%;
}

.displayCont .content .title{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}
.displayCont .content .desc{
    font-size: 20px;
    /* border: solid red ; */
    padding: 0px 10px;
}
.displayCont .image img{
    /* border : solid red; */
    height: 400px;
    width: 500px;
}



