<div class="DhamImages">
    <div>
        <span>
           
           <a href="{% url 'display' %}"><img src="../static/images/Kedarnath.jpg" alt=""></a> 
        </span>
        <span>Kedarnath</span>
    </div>

    <div>
        <span>
            
            <a href="href="{% url 'display' %}"><img src="../static/images/badrinath.jpeg" alt=""></a>
        </span>
        <span>Badrinath</span>
    </div>

    <div>
        <span>
            
            <a href="href="{% url 'display' %}"><img src="../static/images/OIP.jpeg" alt=""></a>
        </span>
        <span>Gangotri</span>
    </div>

    <div>
        <span>
            
            <a href="href="{% url 'display' %}"><img src="../static/images/yamnotri.webp" alt=""></a>
        </span>
        <span>
            Yamunotri
        </span>
    </div>

</div>