<div class="DhamImages">
    <div>
        <span>
            <img src="../static/images/Kedarnath.jpg" alt="">
        </span>
        <span>Kedarnath</span>
    </div>

    <div>
        <span>
            <img src="../static/images/badrinath.jpeg" alt="">
        </span>
        <span>Badrinath</span>
    </div>

    <div>
        <span>
            <img src="../static/images/OIP.jpeg" alt="">
        </span>
        <span>Gangotri</span>
    </div>

    <div>
        <span>
            <img src="../static/images/yamnotri.webp" alt="">
        </span>
        <span>
            Yamunotri
        </span>
    </div>

</div>